*{
    margin: 0;
    padding: 0;
    
}
.home{
    width: 100vw;
    background-image: url("/fondo.png");
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
}
.characters{
    width: 100vw;
    background-image: url("/fondo.png");
    position: relative;
    background-repeat:round;
    background-size: cover;
    padding-top: 10vh;
}